ion-content{
    --background: url(../../assets/icon/plateau.jpg) 0 0/100% 100% no-repeat;
}

#first{
    margin-top: 40%;
}

form {
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

ion-item {
    --highlight-color-valid: rgb(235, 133, 0);
  --highlight-color-invalid: transparent;
  --highlight-color-focused: rgb(235, 133, 0);
  --border-radius: 2%;
}

ion-button{
    --background: rgb(235, 133, 0);
    color: white;
}

ion-segment-button {
    color: white;
}

p{
    color: red;
}