<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="light" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>
        <ion-icon name='pin' ></ion-icon><br>
        <ion-icon name='locate' ></ion-icon>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-list #ionList>
          <ion-item-sliding *ngFor="let partner of partnersArray; let i = index" 
                            #ionItemSliding>
            
            
                <ion-item>

                  <ion-avatar item-start>
                      <!--img src="../../assets/icon/linux.jpg"-->
                  </ion-avatar>
                  <ion-label *ngIf='partner.Nom ===  this.userInfo.info.lastName && partner.Prenom ===  this.userInfo.info.firstName'>
                    vous
                  </ion-label>

                  <ion-label  *ngIf='!(partner.Nom ===  this.userInfo.info.lastName && partner.Prenom ===  this.userInfo.info.firstName)'>
                      {{partner.Nom }} {{ partner.Prenom}}
                    </ion-label>
                </ion-item>

                <ion-item-options>

                  <ion-item-option  color="primary" (click)="show()">
                    <ion-icon  *ngIf='!(partner.Login ===  this.userInfo.info.login)' slot="bottom" name="call"></ion-icon>
                    <p *ngIf="!showContact && !(partner.Login ===  this.userInfo.info.login)">contact</p>
                    <p *ngIf="showContact && !(partner.Login ===  this.userInfo.info.login)">{{partner.Contact}}</p>

                  </ion-item-option>

                  <ion-item-option color="secondary">
                    <ion-icon *ngIf='!(partner.Login ===  this.userInfo.info.login)' slot='bottom' name="chatboxes" (click)='chat(i, partner.Prenom + " " + partner.Nom)'></ion-icon>
                    <p  *ngIf='!(partner.Login ===  this.userInfo.info.login)'>chater</p>
                  </ion-item-option>

                </ion-item-options>

          </ion-item-sliding>
        </ion-list>
    </div>

    <ion-button shape='round' size='full' color="tertiary" (click)='geolocate()'>
      <ion-icon slot="start" name="pin"></ion-icon>
      geolocaliser
    </ion-button>

</ion-content>
