div{
    padding-top: 50px;
}

ion-avatar{
    margin-right: 20px;
}

ion-label{
    margin-right: -10px;
}

ion-item-option ion-icon{
 font-size: 2.0em;
}

ion-title{
    font-size: 0.8em;
}

ion-button{
    margin: 10%;
}