<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="light" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>profile-search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar #searchbar
                    id='searchbar'
                    class='FadeIn'
                    (ionChange)='suggest()'
                    animated placeholder='entrer un/des mot(s) clé(s)'>
    </ion-searchbar>


    <div  *ngFor = "let profile of suggessionsArray; let i = index">
      <p (click)='toProfileArea(i)'>{{profile.Prenom}} {{profile.Nom}} </p>
    </div>
</ion-content>
