#name{
margin-left: 20%;
}

ion-card img{
width: 70%;
height: 70%;
margin-left: 10%;
margin-right: 10%;
border-radius: 50%;
}

ion-fab-button{
    margin-left: 80%;
}

ion-fab-button ion-icon{
    font-size: 2em;
}